header {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;

  .header--row {
    display: flex;
    justify-content: space-around;
  }

  .header-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      max-width: 100%;
    }
  }

  .header-galaxy-logo {
    max-height: 6em;
  }

  .logo-container,
  .galaxy-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /*Vertical Sliding*/
  .slidingVertical {
    font-size: 2em;
    padding-top: 2rem;
  }
  .slidingVertical span {
    animation: topToBottom 12.5s linear infinite 0s;
    -ms-animation: topToBottom 12.5s linear infinite 0s;
    -webkit-animation: topToBottom 12.5s linear infinite 0s;
    opacity: 0;
    overflow: hidden;
    position: absolute;
  }
  .slidingVertical span:nth-child(2) {
    animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
  }
  .slidingVertical span:nth-child(3) {
    animation-delay: 5s;
    -ms-animation-delay: 5s;
    -webkit-animation-delay: 5s;
  }
  .slidingVertical span:nth-child(4) {
    animation-delay: 7.5s;
    -ms-animation-delay: 7.5s;
    -webkit-animation-delay: 7.5s;
  }
  .slidingVertical span:nth-child(5) {
    animation-delay: 10s;
    -ms-animation-delay: 10s;
    -webkit-animation-delay: 10s;
  }

  /*topToBottom Animation*/
  @keyframes topToBottom {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 0;
      transform: translateY(-50px);
    }
    10% {
      opacity: 1;
      transform: translateY(0px);
    }
    25% {
      opacity: 1;
      transform: translateY(0px);
    }
    30% {
      opacity: 0;
      transform: translateY(50px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @-moz-keyframes topToBottom {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 0;
      -moz-transform: translateY(-50px);
    }
    10% {
      opacity: 1;
      -moz-transform: translateY(0px);
    }
    25% {
      opacity: 1;
      -moz-transform: translateY(0px);
    }
    30% {
      opacity: 0;
      -moz-transform: translateY(50px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes topToBottom {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 0;
      -webkit-transform: translateY(-50px);
    }
    10% {
      opacity: 1;
      -webkit-transform: translateY(0px);
    }
    25% {
      opacity: 1;
      -webkit-transform: translateY(0px);
    }
    30% {
      opacity: 0;
      -webkit-transform: translateY(50px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @-ms-keyframes topToBottom {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 0;
      -ms-transform: translateY(-50px);
    }
    10% {
      opacity: 1;
      -ms-transform: translateY(0px);
    }
    25% {
      opacity: 1;
      -ms-transform: translateY(0px);
    }
    30% {
      opacity: 0;
      -ms-transform: translateY(50px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}
