language: node_js
node_js:
- 12.4.0
services:
- mongodb
cache:
  directories:
  - "$HOME/.cache/yarn"
  - "$HOME/google-cloud-sdk/"
before_script:
- mongo mydb_test --eval 'db.createUser({user:"travis",pwd:"test",roles:["readWrite"]})'
install:
- yarn global add jest@24.7.1 react-scripts@3.0.1 --silent
- npm install -g codecov
matrix:
  include:
  - name: API Pipeline
    env: PACKAGE_LOCATION=api
  - name: UI Pipeline
    env: PACKAGE_LOCATION=ui
script:
- cd $PACKAGE_LOCATION
- yarn install
- yarn test
- codecov -F $PACKAGE_LOCATION
- yarn build
before_deploy:
- openssl aes-256-cbc -K $encrypted_4b9efe316fd3_key -iv $encrypted_4b9efe316fd3_iv
  -in ../gae.json.enc -out ./gae.json -d
deploy:
  provider: gae
  skip_cleanup: true
  keyfile: gae.json
  project: wishhack-hackathon
  on:
    branch: release
