@import '../../styles/colors.scss';

html {
  overflow: auto !important;
}

.wish {
  border-radius: 2px;
  border-top: 1px solid #ededed;
  display: inline-block;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 4px;

  .date-first-container {
    background-color: #ebebeb;
    width: 115px;
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;

    .date-second-container {
      border-radius: 5px;
      background-color: #ba008b;
      width: 48px;
      height: 53px;
      border-top: 1px solid #d375bb;
      border-bottom: 1px solid #d375bb;
      text-align: center;

      .week-day {
        font-size: 8px;
        color: $white;
        padding: 2px 0;
      }
    
      .date-rose {
        background-color: $white;
        color: $new-magenta;
        width: 39px;
        border-radius: 5px;
        display: inline-block;
        padding: 7.5px 0;
        font-size: 17px;
        font-weight: bold;
      }
    }
  }

  .date, .date-now {
    width: 2.5em;
    height: 2.5em;
    border-radius: .5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
  }

  .date {
    border: 0.4em solid $medium-blue;
    border-top: 1em solid $medium-blue;
  }

  .date-now {
    border: 0.4em solid $yellow;
    border-top: 1em solid $yellow;
    animation: border-pulsate 2s infinite;
  }

  @keyframes border-pulsate {
    0%   { border-color: $red; }
    50%  { border-color: $medium-blue; }
    100% { border-color: $red; }
  }

  .child-image {
    padding: 15px 16px;
    float: left;

    img {
      width: 82px;
      border-radius: 41px;
    }
  }
  
  .wish-details {
    width: calc(100% - 614px);
    padding: 21px 21px 21px 0;
    float: left;
  }

  .summary {
    font-size: .7em;
    padding-top: 10px;
  }

  .sponsor {
    text-align: center;
    width: 148px;
    float: left;
  }

  .sponsor-logo-image {
    border-right: 1px solid $light-gray;
    border-left: 1px solid $light-gray;
    padding: 3px 55px 20.5px;
    max-width: 36.5px;
    max-height: 36.5px;
    margin-top: 19.5px;
  }

  .sponsor-name, .wish-type {
    padding-bottom: 14.5px;
  }

  .add-sponsor {
    text-decoration: underline;
    color: #0071be;
    padding: 21px 0;
    margin: 27.5px 0;
    border-right: 1px solid $light-gray;
    border-left: 1px solid $light-gray;
    cursor: pointer;
    font-size: 11px;
  }

  .wish-type-container {
    text-align: center;
    padding: 17.5px 38px 2px;
    float: left;

    img {
      width: 60px;
    }
  }

  .wish-chevron {
    color: $medium-blue;
    font-size: 1.2em;
    padding: 48px 34px;
    float: left;
  }
}
