@import "../styles/colors";

#GalaxyScreen {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $light-blue;
  color: $dark-blue;
  font-family: 'Arial Rounded MT Bold', sans-serif;
  padding: 2.5em;
  box-sizing: border-box;
}
