@import "../../styles/colors";

#SplashScreen {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/images/MAW_StarrySpace_Background.svg');
  color: $white;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;

  .fields-not-valid {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  h1 {
    font-size: 3.5em;
    color: $white;
  }

  .header-title {
    align-self: center;
    font-size: 5em;
  }

  img.header-make-a-wish-logo {
    max-height: 3em;
  }

  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    src: local('Lato'), url('../../assets/fonts/Lato-Bold.ttf') format('ttf');
}
  
  img.header-galaxy-logo {
    max-height: 7em;
  }

  .wish-input {
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    margin: 2em 0;

    input {
      border: 2px solid #000000;
      border-radius: 3px;
      padding: .8em;
      font-size: .9em;
    }

    input::placeholder {
      color: $light-blue;
      font-weight: bold;
    }

    h1 {
      font-size: 3em;
    }

    .age-input {
      width: 5em;
    }
  }
}
