@import '../../styles/colors.scss';

.wish-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;

    .type-filter {
      color: $dark-gray;

      label {
        margin-right: 15px;
        cursor: pointer;
      } 
    }

    .wish-search {
      border: 2px solid $medium-blue;
      border-radius: 3px;
      padding: 1em;
      font-size: .9em;
      width: 30em;
    }

    .wish-search::placeholder {
      color: $rose;
      font-weight: bold;
    }

    .wish-search-container {
      display: flex;
      align-items: center;

      .calendar-icon {
        color: $magenta;
        margin: .5em;
        font-size: 2.33em;
      }
    }
}