@import "../../styles/colors";

#WishCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  .wish-card-image {
    background: $yellow;
    border-radius: .8em;
    border-bottom: 1em solid $medium-blue;
    border-right: 1em solid $medium-blue;
  }
}
