@import "../../styles/colors";

.wishCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .2s ease-in-out;
  font-family: 'Droid Sans Bold', serif;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  .wish-card-image {
    border-radius: .8em;
  }

  .card-title {
    display: block;
    font-size: 2.5em;
    margin: .25em 0;
    font-weight: bold;
  }

  .card-subtitle {
    font-weight: bold;
    font-size: 1.8em;
  }
}
