@import '../../styles/colors';

#WishCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease-in-out;
  margin-bottom: 1rem;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .wish-card-image {
    background: $yellow;
    border-radius: 0.8em;
    border-bottom: 1em solid $medium-blue;
    border-right: 1em solid $medium-blue;
  }

  .card-title {
    display: block;
    font-size: 2.5em;
    margin: 0.25em 0;
    font-weight: bold;
  }

  .card-subtitle {
    font-weight: bold;
    font-size: 1.8em;
  }
}
