.childInfo {
<<<<<<< HEAD
    height: 5000px;
}

.rocket-image-container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center 
}

.rocket-blast-off-button {
=======
>>>>>>> WIP: initial commit of childInfo page

}