:root{
    --light-blue: #87cacf;
    --medium-blue: #2e6fb3;
    --dark-blue: #2d348d;
    --yellow: #f8e94d;
    --pink: #d9318a;

}
.childInfo {
    height: 5000px;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--light-blue);
}
.rocket-image-container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center 
}

.spotlight {
    box-shadow: darkblue 12px 7px;
    border-radius: 10px;
    background-color: white;
    color: var(--dark-blue);
    position: relative;

    height: 10em;
    width: 4em;
    position: absolute;

    margin: 0;

    /*position: absolute;*/
    top: 50%;
    left: 50%;
    margin-right: -70%;
    transform: translate(-50%, -50%)
}

.text-name{
    font-style: italic;
    font-size: 1.5rem;
    color: var(--dark-blue);
}
.input-value{

    box-shadow: var(--dark-blue) 5px 3px;
    height: 2rem;
    -moz-border-radius-bottomleft: 20px;
    -moz-border-radius-topleft: 5px;
    width: 300px;
    color: #0156B8;
    border-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
}


.next-button{
    box-shadow: var(--dark-blue) 5px 3px;
    background-color: var(--light-blue) !important;
    color: var(--dark-blue) !important;
    border-color: #67cfc9;
    height: 2rem;
    width: 305px;
    border-radius: 0px 0px 20px 20px;

}
.rocket{
    padding: 30px;
}
.inner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: space-between;
    /*-webkit-justify-content: space-between;*/
    -ms-justify-content: space-between;
    /*justify-content: space-between;*/
   /* margin: 0 auto;*/
    max-width: 75rem;
    width: calc(100% - 4rem);
}

.rocket-blast-off-button {

    display: block;
    margin-left: auto;
    margin-right: auto;

    font-size: 35px;
    box-shadow: var(--dark-blue) 8px 6px;
    background-color: #ffffff !important;
    color: #0156B8 !important;
    border-color: #67cfc9;
    height: 70px;
    width: 400px;
    border-radius: 20px;
}