@import "../styles/colors.scss";

body{
    margin: 0;
    padding: 0;
    background: url('../assets/images/MAW_StarrySpace_Background.svg');
}

.childInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: $white;
    margin: 1em;

    p {
        margin: .3em;
    }
}

.progress{
    font-family: 'Arial Rounded MT Bold', sans-serif;
    size: 0.75em;
    opacity: 100%;
}

.input-value {
    border: 2px solid $medium-blue;
    border-radius: .2em;
    padding: .2em 1em;
    font-size: .9em;
    margin-bottom: 1em;
}

.input-value::placeholder {
    color: $rose;
    font-weight: bold;
}

.next-button{
    border-radius: 1.5em;
    font-size: .9em;
    padding: .2em 1em;
    background: $medium-blue;
    color: $white;
    font-weight: bold;
}

.rocketPage{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rocket-blast-off-button {
    background-color: $black !important;
    color: $yellow;
    border-color: $yellow;
    border-radius: 30px;
    padding: 15px;
    outline: none;
    font-size: 1.2em;
}

.rocket {
    height: 200px;
    position: relative;
    z-index: 5;
}

.rocket-launch {
    object-fit: cover;
    height: 200px;
    overflow: hidden;
    position: relative;
    z-index: 5;
    animation-name: rocket-launch;
    animation-duration: 5s;
  }
  
  @keyframes rocket-launch {
    0% {
        -webkit-transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(-100vh);
    }
}

.second{
    background-color: $light-blue;
}

.wishId{
    color: $yellow;
    text-align: center;
    background-color: $black;
    opacity: 0.93;
    margin-top: 17%;
}